body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #38b348;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #13b731;
  color: rgb(25, 25, 186);
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 1000;
  padding: 0;
}

 .menu-icon .barra {
  width: 28px;
  height: 4px;
  background-color: #2d0de2;
  margin: 4px 0;
  border-radius: 2px;
  display: block;
  transition: 0.3s;
}

h1 {
  font-size: 18px;
  margin: 0;
}

main {
  padding: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(150px, 1fr)
  );
  gap: 10px;
}

@media (max-width: 600px) {
  body {
    background-color: rgb(98, 92, 135);
  }
}

@media (max-width: 800px) {
  body {
    background-color: #2662a6;
  }
}

nav {
  position: absolute;
  top: 50px;
  left: 20px;
  background-color: #1546db;
  border: 1px solid #168ac4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

nav ul li {
  margin: 5px 10px;
  cursor: pointer;
}

nav ul li:hover {
  background-color: #1a6da0;
}

.hidden {
  display: none;
}

.contact-info {
  margin: 20px;
  font-size: 16px;
}

.mapa iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 5px;
}

.contact-form {
  margin: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form label {
  font-size: 14px;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form select,
.contact-form button {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background-color: #ff007f;
  color: white;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #e60073;
}
